$primary-color: #27374d;
$secondary-color: #526d82;
$tertiary-color: #9db2bf;
$light-color: #dde6ed;

$font-text: 'Inter Variable', system-ui, sans-serif;
$font-title: 'Montserrat Variable', system-ui, sans-serif;
